* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  background-color: #222;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  /* http://markdotto.com/2018/02/07/github-system-fonts/ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  letter-spacing: 0.1rem;
  margin: 0;
  line-height: 1.6;
}

a {
  color: rgb(140, 38, 236);
}

p {
  margin: 0;
  margin-bottom: 2rem;
}

ul {
  margin: 0;
}

.Hero {
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 80vh;
  min-height: 520px;
  max-width: 800px;
}

.Hero-wrapper {
  width: 720px;
}

.Intro {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.Intro em {
  color: rgb(140, 38, 236);
  font-style: normal;
}

.SubIntro {
  line-height: 1.5;
  margin-bottom: 2rem;
  max-width: 500px;
}

.Formerino {
  position: relative;
  width: 100%;
  max-width: 540px;
  margin-bottom: 1.5rem;
}

.Input {
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 1rem;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  border: 1px solid #ddd;
}

.Input:focus {
  outline: none;
  border-color: #666;
}

.LetsGo {
  background-color: #610BAF;
  border: none;
  color: white;
  height: 60px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  -webkit-appearance: none;
  width: 100%;
  margin-top: 1rem;
}

.LetsGo:hover {
  cursor: pointer;
  background-color: #7F0EE3;
}

@media screen and (min-width: 800px) {
  .Intro {
    font-size: 2.5rem;
  }
  .SubIntro {
    font-size: 1.125rem;
  }
  .LetsGo {
    height: 44px;
    width: 260px;
    position: absolute;
    right: .5rem;
    top: .5rem;
    margin-top: 0;
  }
}

.Disclaimer {
  color: #c0c0c0;
}

.CheckPrevious {
  color: #333;
  position: relative;
  margin-left: 1rem;
  display: inline-block;
}

.CheckPrevious:before,
.CheckPrevious:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.CheckPrevious:before {
  left: -2rem;
}

.CheckPrevious:after {
  margin-left: 1rem;
  right: 0;
  width: 9999px;
  left: 100%;
}

.Apposto {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  animation: fadeIn .6s forwards;
  height: 60px;
  display: flex;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
